
body {
    margin: 0;
    padding: 0;
    --colortext: rgb(208, 223, 214);
}

.entete {
    width: 100px;
    height: 300px;
}

header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 1px solid black;
    text-align: center;
    width: 100%;
    background-color:  background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1); 
    color:var(--colortext);
    position: fixed;
    z-index: 101;
}

.intro {
    display: inline;
}

main {
    display: flex;
}

.contct {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    width: 20%;
    height: 1450px;
    padding: 50px;
    color: aliceblue;
    background-color: background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1)
}

.rés {
    display: flex;
    justify-content: space-around;
}

.co {
    border: 1px solid black;
    text-align: center;
    border-radius: 10px 8px 10px 8px;
    box-shadow: 2px 5px 3px rgba(255, 255, 255, 0.226);
}

.sec {
    background-color: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1); 
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    background-size: cover;
    border: 1px solid black;
    width: 80%;
    height: 1450px;
    padding: 50px;
}

section {
    background-color: rgba(240, 248, 255, 0.267);
    margin: 20px;
    padding: 10px;
    border-radius: 30px 5px ;
}

.sec1 {
    font-size: 1.5em;
}

.sec2 {
    display: flex;
    justify-content: space-between;
}

.lg {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.lan {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 10px;
    padding: 20px;
}

cadre{
    background: url(cadre-degrade.png) repeat-x left bottom #FFFFFF; 
    border: 1px solid #CACCCD; 
    border-radius: 10px; 
    width: 200px; 
    }
    .cadre span{
    border-bottom: 1px solid #CACCCD; 
    font-size: 15px; 
    margin: 0; 
    padding: 5px 0;       
    text-align: center; 
    display : block; /* permet de prendre toute la place */
    }
    .cadre a{
    display: block; /* affichage block (pleine largeur)
    border-bottom: 1px solid #CACCCD; /* bordure du bas */
    color: #02A3D9; /* couleur du texte */
    padding: 5px; /* marges int. */
    text-decoration: none; /* permet de retirer l'heritage de l'effet souligné des liens */
    }
    .cadre a:hover{
    background: #ffffff; /* couleur de fond */
    }
    .cadre a:last-child{
    border: 0; /* pas de bordure pour le dernier lien */
    }
    .cadre a:hover:last-child{
    border-radius: 0 0 10px 10px; /* arrondie lors du survol pour éviter débordement lors de l'application du hover */
    }